*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 40px;
    min-width: 500px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#8CBE99;
    padding-bottom: 60px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
                 

}
.timer-display{

    width: 100%;
    background: #a25b90;
    padding: 25px ;
    font-family: 'robota',sans-serif;
    align-items:center ;
    font-size: 4rem;
    border-radius: 10px 10px 0 0;
    box-shadow: #8CBE99 inset;


}
.laps{
    text-align: center;
    color: #fff;
    margin-top: 10px;
    text-decoration: none;

}
.action{
    width: 85%;
    margin: 60px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.action button{
    padding: 10px 20px ;
    font-family:sans-serif;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}
.action button:hover {
    background-color: black;
    color: #fff;
    border:  2px solid white;
    

}